/* цвет заголовок текста  #212121*/
/* вторичный цвет #757575 */
/* белый цвет #FFFFFF */
/* акцент  #2196F3 */
/* цвет ссылок rgba(255, 255, 255, 0.6) */
/* первичный цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона банера #2F303A */
:root{
    --primary-bg-color:#E5E5E5;
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-btn-color:#2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bg-color:#F5F4FA;
    --first-bg-color:#2F303A;
    --logo-color:#000000;

}

body{
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
ul{
    list-style: none;
}

/* Logo */
.logo{
    color: var(--logo-color);
}
.logo-start{
    color: var(--accent-btn-color);
}
/* Секция навигации */
.site-nav .link{
    color: var(--title-text-color);
}
.site-nav .link-current{
    color: var(--accent-btn-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-btn-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-btn-color);
}

.contact-nav .link {
    color: var(--primary-text-color); 
}

/* Секция герой */
.hero{
    background-color: var(--first-bg-color);
}
.hero-title{
    color: var(--primary-white-color);
}
/* Секции */
.section-title {
    color: var(--title-text-color);
}
/* Секция особенностей */

.feature-list .title{
    color: var(--title-text-color);   
}
/* Секция  Наша команда */
.participant-list .title{
    color: var(--title-text-color);   
}
/* Footer */
footer{
    background-color: var(--first-bg-color);
}
.logo-footer{
    color: var(--primary-white-color);
}
.footer .adress {
    color: var(--primary-white-color);
}
.footer .mail,
.footer .tel{
    color: rgba(255, 255, 255, 0.6);
}
.button{
    color: var(--primary-white-color);
    background-color: var(--accent-btn-color);
    border: transparent;
}
.button:hover {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
}

/* Страничка портфолио */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.button-list .button-works {
 color: var(--title-text-color);
 background-color: var(--secondary-bg-color);
}

.button-list .button-works:hover,
.button-list .button-works:focus {
    color: var(--primary-white-color);
    background-color: #2196F3; 
}
.works-title{
    color: var(--title-text-color);
}
